.feature {
    display: flex;
    align-items: center;
    max-width: 159px;
}

.feature__icon {
    width: 45px;
    margin-right: 7px;
}

.feature__text {
    font-size: 16px;
    line-height: 18px;
    font-weight: $fontWeightBold;
}