.feature {
    display: flex;
    align-items: center;
    max-width: 8.83rem;
}

.feature__icon {
    width: 2.5rem;
    margin-right: 0.38rem;
}

.feature__text {
    font-size: 0.88rem;
    line-height: 1rem;
    font-weight: $fontWeightBold;
}