.headline {
    text-align: center;
}

.headline__title {
    margin-bottom: 17px;
    color: #292929;
    margin-bottom: 10px;
}

.headline__subtitle {
    font-weight: 400;
    padding: 0 27%;
    margin-bottom: 49px;
}