.order-section {
    background: url("../img/foarm-bg.png") center top/cover no-repeat;
    color: #fff;
}

.order-section__title {
    margin-bottom: 3.27rem;

    @include tablets {
        margin-bottom: 1.7rem;  
        width: 95%;
    }
}