.radio {
    display: flex;
    cursor: pointer;
    user-select: none;

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url(../img/galka.svg) center center/cover no-repeat;
            }
        }
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}

.radio__visible {
    width: 1.38rem;
    height: 1.38rem;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 0.77rem;

    &:before {
        content: "";
        width: 0.72rem;
        height: 0.72rem;
        background: #FEDB3F;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &:last-child {
        margin-right: 0;
    }
}
